<!DOCTYPE html>
<head>
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tour de Awesome!</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <link rel="stylesheet" href="https://bootswatch.com/4/lux/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet">
  <link rel="stylesheet" href="../static/css/style.css">
  <style>
html, body {
  margin: 0;
  }
.full-height {
  height: 700px;
  width: 100%;
  background: white;
}
</style>
<script src="../static/js/logic.js"></script>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
<a class="navbar-brand" href="./">TdA Home</a>
</nav>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2" aria-controls="navbar1" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="navbar-collapse collapse w-100 order-last dual-collapse2 mr-auto navbar-expand-sm">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link" href="./">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="./bump">Bump Chart</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="./box">Box Plot</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="./map">Choropleth</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="./results">Race Results</a>
      </li>
    </ul>
  </div>
</nav>
<div class="container-full-bg">
  <div class="row">
    <div class="col-md-1">
    </div>
    <div class="col-md-5">
      <br />
      <div class="form-check form-check-inline" id="selType">
        <input class="form-check-input" type="radio" name="optionType" id="type1" value="1" checked onchange="optionChanged(this.value)">
        <label class="form-check-label" for="type1">
          Stage
        </label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="optionType" id="type2" value="2" onchange="optionChanged(this.value)">
        <label class="form-check-label" for="type2">
          Overall
        </label>
      </div>
    </div>
      <div class="col-md-5 d-inline-flex justify-content-end">
        <img src="../static/images/001-hills.svg" width=50em height=50em class="filter-yellow"/><br />
        <img src="../static/images/002-mountains.svg"  width=50em height=50em class="filter-pink"/><br />
        <img src="../static/images/003-bicycle.svg"  width=50em height=50em class="filter-blue"/><br />
        <img src="../static/images/004-work-tools.svg"  width=50em height=50em class="filter-green"/><br />
      </div>
      <div class="col-md-1">
      </div>
    </div>
      <div class="row">
      <div class="col-md-1">
      </div>
      <div class="col-md-10">
        <hr />
        <div id="box" class="full-height">
          <!-- Box Chart -->
        </div>
        <hr />
        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th class="table-head">Stage</th>
              <th class="table-head">Date</th>
              <th class="table-head">Start</th>
              <th class="table-head">Finish</th>
              <th class="table-head">Distance</th>
              <th class="table-head">Stage Type</th>
            </tr>
          </thead>
          <tbody class="smaller"></tbody>
        </table>
      </div>
      <div class="col-md-1">
      </div>
      </div>
    </div>

  <nav class="navbar navbar-expand-lg navbar-light">
    <ul class="navbar-nav mr-auto">
      <li class="navbar-nav nav-item active"><a href="https://github.com/bman511/tour-de-awesome-">Project GitHub Page</a>
      </li>
      <li class="navbar-nav nav-item active"><a href="#top" class="nav-link">Back to top</a>
      </li>
    <ul>
  </nav>
</body>
<script type="text/javascript"  src="../static/js/stages.js"></script>
