<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <script src="https://d3js.org/d3.v4.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <style>
html, body {
  margin: 0;
  }

.full-height {
  height: 600px;
  width: 50%;
  background: yellow;
}
</style>
</head>

<body>
<div id="myDiv" class="full-height">
<script>
/*=========Build a box plot ==============*/
var url = `/speeds`;

// console.log(url)
d3.json(url).then(function(response)  {
  var data = [];
  var traces = [];
  response.forEach(data => {

    if (data.type=="Flat stage") {
      var color = "rgb(1, 142, 13)"
    }
    else if (data.type=="Mountain stage") {
      var color = "rgb(249, 74, 92)"
    }
    else if (data.type=="Team time trial" || data.data.type=="Individual time trial") {
      var color = "rgb(72, 134, 249)"
    }
    else {
      var color = "rgb(247, 203, 71)"
    }
    var trace = {
      y: data.data.speed,
      width:0.75,
      orientation:"v",
      hovertext: data.data.rider,
      type: 'box',
      name: data.stage,
      boxpoints: 'suspectedoutliers',
      jitter: 1.5,
      whiskerwidth: 0.2,
      fillcolor: color,
      marker: {
          size: 5,
          color: color,
          outliercolor: "black"
      },
      line: {
          width: 1,
          color: 'rgb(204, 205, 206)',
          outliercolor: "black"
      }
    }
    traces.push(trace)
  });

var layout = {
    title: '2018 Tour de France Speeds by Stage',
    xaxis: {
    showgrid: false,
    dtick:1,
    zeroline: false,
    tickangle: 90,
    showticklabels: true
  },
    yaxis: {
        autorange: true,
        showgrid: true,
        dtick: 5,
        gridcolor: 'white',
        gridwidth: 1,
        zeroline: false
    },
    margin: {
        l: 40,
        r: 30,
        b: 80,
        t: 100
    },
    paper_bgcolor: 'white',
    plot_bgcolor: 'white',
    showlegend: false};
Plotly.newPlot('myDiv', traces, layout);
//===================
});
</script>
</div>
</body>
