<!DOCTYPE html>
<head>
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tour de Awesome!</title>
  <script src="https://d3js.org/d3.v4.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.11.0/d3.js"></script> -->
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script> -->
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script> -->
  <link rel="stylesheet" href="https://bootswatch.com/4/lux/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet">
  <link rel="stylesheet" href="../static/css/style.css">
  <style>
html, body {
  margin: 0;
  }
.full-height {
  height: 600px;
  width: 100%;
  background: white;
}
</style>
<script src="../static/js/bump.js"></script>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
<a class="navbar-brand" href="./">TdA Home</a>
</nav>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar1" aria-controls="navbar1" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbar1">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="./">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="./bump">Bump Chart</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="./box">Box Plot</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="./map">Choropleth</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="./results">Race Results</a>
      </li>
    </ul>
  </div>
</nav>
<div class="container-full-bg">
  <div class="row">
    <div class="col-md-1">
    </div>
    <div class="col-md-10">
      <br />
      <h4>Plotting the Contenders - Bump Chart</h4>
      <hr />
      <div id="bump" class="full-height">
        <!-- Box Chart -->
      </div>
    </div>
    <div class="col-md-1">
    </div>
    </div>
  </div>
<nav class="navbar navbar-expand-lg navbar-light">
  <ul class="navbar-nav mr-auto">
    <li class="navbar-nav nav-item active"><a href="https://github.com/bman511/tour-de-awesome-">Project GitHub Page</a>
    </li>
    <li class="navbar-nav nav-item active"><a href="#top" class="nav-link">Back to top</a>
    </li>
  <ul>
</nav>
</body>
  <script type="text/javascript" src="../static/js/bump.js"></script>
